
.outer-container {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 90%;
}
.rg-form-container {
    width: 500px;
    margin: 0 auto 50px;
}

.form-group .abs-input {
    width: 410px;
}
.form-group.al-cr {
    text-align: center;
}
.form-group.al-cr button:first-child {
    margin-right: 20px;
}
.form-group .input-group-btn {
    display: inline-block;
    padding-left: 10px;
    width: 80px;
}

.rg-button-container {
    width: 400px;
}
.detail-page-header {
    display: flex;
}

.detail-page-header .header-ul {
    list-style: none;
}
.detail-page-header .header-ul li{
    text-align: right;
}
.detail-page-header h4{
    flex: 1;
}
.detail-page-header .btn{
    margin: 10px;
}

.table-container .first {
    text-align: right;
}
.download-ul {
    margin-top: 20px;
    list-style-type: none;
}
.download-ul li {
    margin: 5px;
}
.download-ul i {
    margin-right: 5px;
}
.download-ul a {
    text-decoration: none;
    color: #000;
}

/* 不添加横线 */
.table-no-border, .table-no-border >tbody, .table-no-border > tbody > tr > td{
    border: none;
}

.ul-container {
    list-style-type: none;
    width: 500px;
    margin: 0 auto;
}

.ul-container li span:first-child {
    width: 100px;
    text-align: right;
}

.list-item {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.list-item ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    text-align: center;
}
.list-item ul li {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-item .table > tr > td {
    text-align: center;
}

